/* Container geral da página */
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background: #f7f5ff; /* lilás bem claro opcional */
}

/* MENU sempre no topo, largura total */
.menu {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

/* Área que contém o conteúdo abaixo do menu */
.content {
  width: 100%;
  max-width: 100vw; /* opcional pra centralizar no desktop */
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto; /* centraliza */
}

/* MAPA controlado aqui */
.maps {
  width: 100%;
  height: 400px;
  border: 3px solid rgba(32, 32, 32, 0.24);
  border-radius: 10px;
}

/* Isso garante que o componente Maps ocupe 100% do espaço recebido */
.maps > div {
  width: 100%;
  height: 100%;
}
