.button {
    padding: 8px 24px;
    margin: 5px 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s ease;
}

.button:hover {
    transform: translateY(-2px);
    background: rgba(255,255,255,0.1);
}

.button:active {
    transform: translateY(0px) scale(0.98);
}

.input {
    padding: 12px 12px;
    margin: 6px 10px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.15);
    font-weight: 500;
    font-style: italic;
    border-radius: 6px;
    width: 100%;
    max-width: 250px;
    font-size: 16px;
}

.input:focus {
    outline: none;
    border-color: #b682ff;
    box-shadow: 0 0 4px #b682ff
}

.formLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}