.button {
    padding: 8px 24px;
    margin: 5px 10px;
    border: 1px solid var(--background);
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.input {
    padding: 12px 12px;
    margin: 6px 10px;
    border: 2px solid var(--background);
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
    border-radius: 6px;
    width: 250px
}

.formLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}